# ignore new files from autogen.sh
autom4te.cache/
Makefile.in
aclocal.m4
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/test-driver
build-aux/ylwrap
configure
gettext-runtime/Makefile.in
gettext-runtime/aclocal.m4
gettext-runtime/config.h.in~
gettext-runtime/configure
gettext-runtime/configure~
gettext-runtime/doc/Makefile.in
gettext-runtime/gnulib-lib/Makefile.in
gettext-runtime/install-tests/Makefile.in
gettext-runtime/intl-csharp/Makefile.in
gettext-runtime/intl-d/Makefile.in
gettext-runtime/intl-java/Makefile.in
gettext-runtime/intl-modula2/Makefile.in
gettext-runtime/intl/aclocal.m4
gettext-runtime/intl/configure
gettext-runtime/intl/configure~
gettext-runtime/intl/Makefile.in
gettext-runtime/intl/gnulib-lib/Makefile.in
gettext-runtime/libasprintf/Makefile.in
gettext-runtime/libasprintf/aclocal.m4
gettext-runtime/libasprintf/config.h.in~
gettext-runtime/libasprintf/configure
gettext-runtime/libasprintf/configure~
gettext-runtime/libasprintf/gnulib-lib/Makefile.in
gettext-runtime/libasprintf/gnulib-lib/Makefile.in
gettext-runtime/po/Makefile.in.in
gettext-runtime/m4/Makefile.in
gettext-runtime/m4/libtool.m4
gettext-runtime/m4/ltoptions.m4
gettext-runtime/m4/ltsugar.m4
gettext-runtime/m4/ltversion.m4
gettext-runtime/m4/lt~obsolete.m4
gettext-runtime/man/Makefile.in
gettext-runtime/src/Makefile.in
gettext-runtime/tests/Makefile.in
gettext-tools/Makefile.in
gettext-tools/aclocal.m4
gettext-tools/config.h.in
gettext-tools/configure
gettext-tools/autotools/Makefile.in
gettext-tools/doc/Makefile.in
gettext-tools/emacs/Makefile.in
gettext-tools/examples/Makefile.in
gettext-tools/examples/aclocal.m4
gettext-tools/examples/configure
gettext-tools/examples/configure~
gettext-tools/examples/po/Makefile.in
gettext-tools/gnulib-lib/Makefile.in
gettext-tools/gnulib-m4/intl.m4
gettext-tools/gnulib-m4/po.m4
gettext-tools/gnulib-tests/Makefile.in
gettext-tools/install-tests/Makefile.in
gettext-tools/its/Makefile.in
gettext-tools/libgettextpo/Makefile.in
gettext-tools/libgrep/Makefile.in
gettext-tools/libgrep/gnulib-lib/Makefile.in
gettext-tools/po/Makefile.in.in
gettext-tools/m4/Makefile.in
gettext-tools/m4/libtool.m4
gettext-tools/m4/ltoptions.m4
gettext-tools/m4/ltsugar.m4
gettext-tools/m4/ltversion.m4
gettext-tools/m4/lt~obsolete.m4
gettext-tools/man/Makefile.in
gettext-tools/misc/Makefile.in
gettext-tools/projects/Makefile.in
gettext-tools/src/Makefile.in
gettext-tools/system-tests/Makefile.in
gettext-tools/styles/Makefile.in
gettext-tools/tests/Makefile.in
gettext-tools/tests/gnulib-lib/Makefile.in
gettext-tools/wizard/Makefile.in
gnulib-local/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
libtextstyle/configure~
libtextstyle/Makefile.in
libtextstyle/aclocal.m4
libtextstyle/adhoc-tests/Makefile.in
libtextstyle/build-aux/compile
libtextstyle/build-aux/depcomp
libtextstyle/build-aux/install-sh
libtextstyle/build-aux/ltmain.sh
libtextstyle/build-aux/mdate-sh
libtextstyle/build-aux/missing
libtextstyle/build-aux/test-driver
libtextstyle/configure
libtextstyle/doc/Makefile.in
libtextstyle/install-tests/Makefile.in
libtextstyle/lib/Makefile.in
libtextstyle/m4/libtool.m4
libtextstyle/m4/ltoptions.m4
libtextstyle/m4/ltsugar.m4
libtextstyle/m4/ltversion.m4
libtextstyle/m4/lt~obsolete.m4
libtextstyle/tests/Makefile.in
